{% load static %}
{% load cart_tag %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'web/css/billcart1.css' %}">
</head>
<body>
    <section>
        <div class="boxhero">
<div class="box">
<img src="{% static 'web/image/Done.png' %}" alt="">
<p>Thank You Order in Our store. You Will Received A Confirmation  Email Shortly</p>
<button>Continue Shopping</button>
</div>
</div>
</section>
</body>
</html>